
.button, .ib-edu-button, input#submit, .search-submit, .post-password-form input[type="submit"], .button-primary, .dm3-btn {
    border-color: #149dd2;
    color: #149dd2;
}

.button:hover,
.ib-edu-button:hover,
input#submit:hover,
.search-submit:hover,
.post-password-form input[type="submit"]:hover,
.button-primary:hover,
.dm3-btn:hover,
.css3-loader-inner div,
#main-nav > ul > .current-menu-item > a:after,
#main-nav > ul > .current-menu-parent > a:after,
#main-nav .sub-menu:before,
#user-nav ul:before,
.dm3-tabs-testimonials .dm3-tabs-nav .active a,
.flex-control-paging .flex-active:after,
.owl-page.active span,
.product .onsale {
    background-color: #149dd2;
}

#main-nav > ul > li:hover > a,
#main-nav > ul > .current-menu-item > a,
#main-nav > ul > .current-menu-parent > a,
#main-nav .sub-menu a:hover,
#user-nav li a:hover,
#report-nav li a:hover,
#header-search button:hover,
#header-search.open button,
#auth-nav .auth-nav-login:hover,
.hentry .ib-edu-lessons article h1 a:hover,
.ib-edu-memberships h2 a:hover,
.entry-title a:hover,
.post-grid .price,
.post-fw .price,
ul.products .price,
.related-courses .price,
.ib-edu-memberships .price,
.no-touch .post-meta a:hover,
.post-meta .price,
.comment-metadata a:hover,
.dm3-box-icon-center .dm3-box-icon-icon span,
.dm3-box-icon-left .dm3-box-icon-icon,
.page-sidebar .cat-item a:hover,
.page-sidebar .widget_archive a:hover,
.page-sidebar .recentcomments a:hover,
.page-sidebar .widget_recent_entries a:hover,
.custom-radio:before,
#user-nav:hover .user-menu-name,
.ib-edu-message:before,
.ib-edu-lesson-meta .quiz,
.lessons-nav a:hover,
#page-toolbar .cart-stats a:hover,
.ib-edu-courses .open-description:hover,
.product_list_widget li > a:hover,
td.product-name > a:hover {
    color: #149dd2;
}

.ib-edu-message:after {
    border-color: #149dd2;
}

.post-badge:before {
    border-color: #149dd2;
}

#auth-forms input[type="text"].half-input-width {
    width: 50%;
}

.dm3-alert {
    border-radius: 7px;
}

.dm3-alert-error {
    background-color: #ffdfdf;
    border-color: #ffafaf;
    color: #9f1d1d;
}

.fixed-column-2 {
    width: 8%;
    float: left
}

.fixed-column-5 {
    width: 46%;
    float: left
}

.fixed-column-6 {
    width: 50%;
    float: left
}

.fixed-column-3 {
    width: 33%;
    float: left
}

.fixed-column-4 {
    width: 25%;
    float: left
}

.lessons-container {
    /*  border: 1px solid #e7e7e7;
      border-radius: 7px;
      padding: 20px 20px 1em;*/
}

.lessons-title {
    /*color: #333;
    font-family: "Oxygen","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #e7e7e7;
    font-size: 1em;
    line-height: 1.4em;
    margin: -20px -20px 2em -20px;
    padding: 12px 20px;
    text-transform: uppercase;*/
}

.lessons-container ul {
    list-style: none;
    margin: 0 0 1em 0;
}

.lessons-course-name {
    color: #555;
}

span.post-date {
    color: #999;
    display: block;
    font-size: .96em;
}

ul.lessons-ul li + li {
    border-top: 1px solid #e7e7e7;
    margin-top: 8px;
    padding-top: 8px
}

.col-fixed {
    float: left;
    margin-right: 10px;
}

.lessons-padding {
    padding-left: 5px;
    /*padding-top: 10px;*/
}

.lessons-padding-button {
    padding-left: 5px;
    padding-top: 10px;
}

.row-margin-5px {
    padding-bottom: 10px;
    padding-top: 10px;
}

/*from admin template*/

/************ LEFT PANEL ***********/
.leftpanel {
    background-color: #ffffff;
    width: 220px;
    position: fixed;
    top: 138px;
    bottom: 0;
    left: -220px;
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;
}

.leftpanel .tab-pane {
    padding: 0;
    background-color: transparent;
}

.leftpanel .media-list-contacts .media {
    border-color: #eaecf0;
}

@media (min-width: 992px) {
    .leftpanel {
        left: 0 !important;
    }
}

/***** LEFTPANEL PROFILE *****/
.leftpanel-profile {
    padding: 15px;
    background-color: #3b4354;
}

.leftpanel-profile .media-object {
    width: 48px;
    padding: 3px;
    border: 2px solid #657390;
}

.leftpanel-profile .media-left {
    padding-right: 15px;
}

.leftpanel-profile .media-heading {
    margin: 7px 0 2px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
}

.leftpanel-profile .media-heading > a {
    color: rgba(255, 255, 255, 0.5);
}

.leftpanel-profile .media-heading > a:hover,
.leftpanel-profile .media-heading > a:focus {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.leftpanel-profile .media-body {
    color: rgba(255, 255, 255, 0.5);
}

.leftpanel-userinfo {
    background-color: #464f63;
    padding-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.leftpanel-userinfo .sidebar-title {
    margin-top: 0;
}

.leftpanel-userinfo address {
    color: rgba(255, 255, 255, 0.9);
    padding: 0 15px;
    margin-bottom: 20px;
}

.leftpanel-userinfo .list-group-item {
    border-left: 0;
    border-right: 0;
    border-color: #4c566c;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
}

.leftpanel-userinfo .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.leftpanel-userinfo .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.leftpanel-userinfo .list-group-item label {
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
}

.leftpanel-userinfo .list-group-item:before,
.leftpanel-userinfo .list-group-item:after {
    content: " ";
    display: table;
}

.leftpanel-userinfo .list-group-item:after {
    clear: both;
}

.leftpanel-userinfo .list-group-item:before,
.leftpanel-userinfo .list-group-item:after {
    content: " ";
    display: table;
}

.leftpanel-userinfo .list-group-item:after {
    clear: both;
}

.leftpanel-userinfo .list-group-item .social-icons a {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 5px;
    font-size: 14px;
    line-height: 0;
}

.leftpanel-userinfo .list-group-item .social-icons a > i {
    line-height: 0;
}

.leftpanel-userinfo .list-group-item .social-icons a:hover,
.leftpanel-userinfo .list-group-item .social-icons a:focus {
    color: #fff;
}

/***** LEFT NAVIGATION *****/
.nav-quirk {
    margin: 0 0 30px;
    background-color: #fff;
}

.nav-quirk > li + li {
    border-top: 1px solid #eaecf0;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav-quirk > li > a {
    color: #505b72;
    padding: 12px 14px;
    border-radius: 0;
    font-weight: 700;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.nav-quirk > li > a .badge {
    background-color: transparent;
    color: #9fa8bc;
    font-size: 12px;
    text-transform: none;
    padding: 0;
    font-weight: normal;
    margin-top: 3px;
    margin-right: 2px;
}

.nav-quirk > li > a > i {
    width: 16px;
    font-size: 14px;
    text-align: center;
    margin-right: 7px;
    color: #149dd2;
    vertical-align: top;
    margin-top: 1.5555px;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.nav-quirk > li > a:hover,
.nav-quirk > li > a:focus {
    color: #262b36;
    background-color: #ffffff;
}

.nav-quirk > li + li {
    margin: 0;
}

.nav-quirk > li:last-child {
    border-bottom: 1px solid #eaecf0;
}

.nav-quirk > li.nav-parent > a {
    position: relative;
}

.nav-quirk > li.nav-parent > a:after {
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 16px;
    font-weight: 400;
    color: #bdc3d1;
    position: absolute;
    top: 10px;
    right: 15px;
}

.nav-quirk > li.nav-active > ul {
    display: block;
}

.nav-quirk > li.active {
    border-top-color: transparent;
}

.nav-quirk > li.active + li {
    border-top-width: 0;
}

.nav-quirk > li.active > a {
    color: #fff;
    background-color: #149dd2;
    background-image: -webkit-linear-gradient(left, #149dd2 0%, #2574ab 100%);
    background-image: -o-linear-gradient(left, #149dd2 0%, #2574ab 100%);
    background-image: linear-gradient(to right, #149dd2 0%, #2574ab 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff259dab', endColorstr='#ff2574ab', GradientType=1);
}

.nav-quirk > li.active > a .badge {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
}

.nav-quirk > li.active > a > i {
    color: #fff;
}

.nav-quirk > li.active > a:after {
    color: #fff;
}

.nav-quirk > li.active .children {
    display: block;
    border-top: 0;
    border-bottom: 1px solid #eaecf0;
}

.nav-quirk > li.active .children:before {
    border-top: 7px solid #149dd2;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 0;
}

.nav-quirk .children {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    position: relative;
    border-top: 1px solid #eaecf0;
    background-color: #f6f7f8;
}

.nav-quirk .children > li {
    margin-left: 21px;
    border-left: 1px solid #dbdfe6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    letter-spacing: normal;
    display: block;
    font-size: 12px;
}

.nav-quirk .children > li:first-child {
    padding-top: 7px;
}

.nav-quirk .children > li:last-child {
    padding-bottom: 7px;
}

.nav-quirk .children > li > a {
    display: block;
    font-weight: 400;
    padding: 5px 0 5px 18px;
    color: #657390;
    position: relative;
    height: 28px;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.nav-quirk .children > li > a:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    left: -3px;
    top: 50%;
    background-color: #9fa8bc;
    margin-top: -3px;
    border-radius: 50px;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.nav-quirk .children > li > a:after {
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid #a0a8b9;
    position: absolute;
    left: -15px;
    top: 50%;
    margin-top: -15px;
    border-radius: 50px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.nav-quirk .children > li > a:hover,
.nav-quirk .children > li > a:focus,
.nav-quirk .children > li > a:active {
    text-decoration: none;
    color: #464f63;
}

.nav-quirk .children > li > a:hover:before,
.nav-quirk .children > li > a:focus:before,
.nav-quirk .children > li > a:active:before {
    background-color: #657390;
}

.nav-quirk .children > li > a:hover:after,
.nav-quirk .children > li > a:focus:after,
.nav-quirk .children > li > a:active:after {
    opacity: 1;
    border-color: #657390;
    width: 11px;
    height: 11px;
    left: -6px;
    margin-top: -6px;
}

.nav-quirk .children > li.active > a {
    color: #149dd2;
}

.nav-quirk .children > li.active > a:before {
    background-color: #149dd2;
}

.nav-quirk .children > li.active > a:after {
    opacity: 1;
    border-color: #149dd2;
    width: 11px;
    height: 11px;
    left: -6px;
    margin-top: -6px;
}

/***** LEFT NAVIGATION STACKED STYLE VARIANT *****/
.nav-quirk-stacked > li:first-child {
    border-top: 1px solid #eaecf0;
}

.nav-quirk-stacked > li > a {
    padding: 12px 0;
    letter-spacing: .5px;
    color: #464f63;
}

.nav-quirk-stacked > li > a:hover,
.nav-quirk-stacked > li > a:focus {
    color: #262b36;
}

.nav-quirk-stacked > li > a:hover > i,
.nav-quirk-stacked > li > a:focus > i {
    color: #262b36;
}

.nav-quirk-stacked > li.nav-parent > a:after {
    top: 9px;
    right: 5px;
}

.nav-quirk-stacked > li.active {
    border-top-color: #eaecf0;
}

.nav-quirk-stacked > li.active + li {
    border-top-width: 1px;
}

.nav-quirk-stacked > li.active > a,
.nav-quirk-stacked > li.active > a:hover,
.nav-quirk-stacked > li.active > a:focus {
    background-color: transparent;
    background-image: none;
    color: #149dd2;
}

.nav-quirk-stacked > li.active > a > i,
.nav-quirk-stacked > li.active > a:hover > i,
.nav-quirk-stacked > li.active > a:focus > i {
    color: #149dd2;
}

.nav-quirk-stacked > li.active .children {
    border-bottom: 0;
    border-top: 1px solid #eaecf0;
}

.nav-quirk-stacked > li.active .children:before {
    display: none;
}

.nav-quirk-stacked > li.active.nav-parent > a:after {
    color: #149dd2;
}

.nav-quirk-stacked .children {
    background-color: transparent;
}

.nav-quirk-stacked .children > li {
    margin-left: 8px;
    border-left-color: #eaecf0;
}

/***** LEFT NAVIGATION PILL STYLE VARIANT *****/
.nav-quirk-pills > li:last-child {
    border-bottom: 0;
}

.nav-quirk-pills > li > a {
    padding: 10px;
    border-radius: 2px;
}

.nav-quirk-pills > li > a:hover,
.nav-quirk-pills > li > a:focus {
    background-color: #e1e4ea;
}

.nav-quirk-pills > li > a:hover > i,
.nav-quirk-pills > li > a:focus > i {
    color: inherit;
}

.nav-quirk-pills > li + li {
    border-top: 0;
    margin-top: 1px;
}

.nav-quirk-pills > li.nav-parent a:after {
    top: 7px;
    right: 10px;
}

.nav-quirk-pills > li.active .children {
    border-bottom: 0;
}

.nav-quirk-pills > li.active .children:before {
    display: none;
}

.nav-quirk-pills > li .children {
    background-color: transparent;
    border-top: 0;
}

.nav-quirk-pills > li .children > li {
    margin-left: 18px;
    border-left: 0;
}

.nav-quirk-pills > li .children > li:first-child {
    padding-top: 0;
}

.nav-quirk-pills > li .children > li:last-child {
    padding-bottom: 0;
}

.nav-quirk-pills > li .children > li > a:after {
    top: 50%;
}

/***** NAV MAIL *****/
.nav-mail > li > a .badge {
    color: #d9534f;
}

.nav-mail > li > a > i {
    color: #909bb1;
}

.nav-label > li {
    text-transform: none;
}

.nav-label > li > a {
    font-weight: normal;
}

.nav-label > li > a > i.primary {
    color: #2574ab;
}

.nav-label > li > a > i.success {
    color: #149dd2;
}

.nav-label > li > a > i.warning {
    color: #e6ad5c;
}

.nav-label > li > a > i.danger {
    color: #d9534f;
}

/***** LEFTPANEL CONTACT *****/
.input-search-contact {
    padding: 0;
    margin-bottom: 20px;
    margin-top: -15px;
}



.input-search-contact input {
    border: 0;
    padding-left: 15px;
    border-bottom: 1px solid #eaecf0;
    border-radius: 0;
    background-color: transparent;
}

.input-search-contact input:focus {
    border-color: #eaecf0;
}

.input-search-contact > .input-group-btn > .btn {
    border: 0;
    border-bottom: 1px solid #eaecf0;
    background-color: transparent;
    border-radius: 0;
    font-size: 14px;
    line-height: 0;
    padding-top: 6px;
    color: #818da7;
}

/***** LEFTPANEL SETTINGS *****/
.list-group-settings > .list-group-item {
    border-color: #eaecf0;
}

.sidebar {
    position: absolute;
    top: 64px;
    bottom: 0;
    padding: 15px;
}

.sidebar.left {
    left: 0;
}

.sidebar.right {
    right: 0;
}

.sidebar.email {
    width: 220px;
    background-color: #fff;
}

.sidebar-title {
    text-transform: uppercase;
    font-size: 11px;
    color: #9fa8bc;
    line-height: normal;
    padding: 0 15px;
    font-weight: 500;
    letter-spacing: .5px;
}

.nav-sidebar.nav-justified {
    background-color: #657390;
    margin-bottom: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.nav-sidebar.nav-justified > li > a {
    border-radius: 0;
    background-color: #505b72;
    color: #fff;
    padding: 8px 10px;
    font-size: 14px;
    vertical-align: bottom;
}

.nav-sidebar.nav-justified > li > a:hover,
.nav-sidebar.nav-justified > li > a:focus {
    cursor: pointer;
    background-color: #464f63;
}

.nav-sidebar.nav-justified > li > a i {
    position: relative;
}

.nav-sidebar.nav-justified > li:first-child > a {
    border-left: 0;
}

.nav-sidebar.nav-justified > li + li > a {
    margin-left: 1px;
}

.nav-sidebar.nav-justified > li.unread > a > i:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -4px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #d9534f;
    opacity: .9;
}

.nav-sidebar.nav-justified > .active:first-child > a {
    border-top-left-radius: 0;
}

.nav-sidebar.nav-justified > .active > a,
.nav-sidebar.nav-justified > .active > a:hover,
.nav-sidebar.nav-justified > .active > a:focus {
    background-color: #fff;
    color: #262b36;
}

@media (max-width: 767px) {
    .nav-sidebar.nav-justified {
        display: table;
    }

    .nav-sidebar.nav-justified > li {
        display: table-cell;
    }

    .nav-sidebar.nav-justified > li > a {
        margin: 0;
    }
}

.sidebar-btn-wrapper {
    margin: 0 15px 20px;
}

.contentpanel {
    padding: 20px;
    position: relative;
}

@media (max-width: 320px) {
    .contentpanel {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/***** MAIN PANEL *****/
.mainpanel {
    background-color: #d8dce3;

}

@media (min-width: 992px) {
    .mainpanel {
        margin-left: 220px;
        background-color: #d8dce3;
    }
}

@media (max-width: 991px) {
    .mainpanel {
        position: relative;
        background-color: #d8dce3;
    }
}

.panel-announcement .panel-heading {
    padding-bottom: 5px;
}

.panel-heading {
    margin-bottom: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.panel-heading {
    padding: 20px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}

/*self css*/
.orange {
    color: #ff9900;
}

.gray {
    color: #C7C3C8;
}

a:hover {
    text-decoration: none;
}
