#login {
  color: red; }

.icon {
  background: url("/img/sprite.png") scroll no-repeat 0 0;
  display: block;
  height: 61px;
  width: 61px;
  margin-top: 10px; }

.icon-0 {
  background-position-x: 0px;
  background-position-y: 0px; }

.icon-1 {
  background-position-x: 0px;
  background-position-y: -60.5px; }

.icon-2 {
  background-position-x: 0px;
  background-position-y: -121px; }

.icon-3 {
  background-position-x: 0px;
  background-position-y: -181.5px; }

.icon-4 {
  background-position-x: 0px;
  background-position-y: -242px; }

.icon-5 {
  background-position-x: 0px;
  background-position-y: -302.5px; }

.icon-6 {
  background-position-x: 0px;
  background-position-y: -363px; }

.icon-7 {
  background-position-x: 0px;
  background-position-y: -423.5px; }

.icon-8 {
  background-position-x: 0px;
  background-position-y: -484px; }

.icon-9 {
  background-position-x: 0px;
  background-position-y: -544.5px; }

.icon-10 {
  background-position-x: 0px;
  background-position-y: -605px; }

.icon-11 {
  background-position-x: 0px;
  background-position-y: -665.5px; }

.icon-12 {
  background-position-x: 0px;
  background-position-y: -726px; }

.icon-13 {
  background-position-x: 0px;
  background-position-y: -786.5px; }

.icon-14 {
  background-position-x: 0px;
  background-position-y: -847px; }

.icon-15 {
  background-position-x: 0px;
  background-position-y: -907.5px; }

.icon-16 {
  background-position-x: 0px;
  background-position-y: -968px; }

.icon-17 {
  background-position-x: 0px;
  background-position-y: -1028.5px; }

.icon-18 {
  background-position-x: 0px;
  background-position-y: -1089px; }

.icon-19 {
  background-position-x: 0px;
  background-position-y: -1149.5px; }

.icon-20 {
  background-position-x: 0px;
  background-position-y: -1210px; }

.icon-21 {
  background-position-x: 0px;
  background-position-y: -1270.5px; }

.icon-22 {
  background-position-x: 0px;
  background-position-y: -1331px; }

.icon-23 {
  background-position-x: 0px;
  background-position-y: -1391.5px; }

.icon-24 {
  background-position-x: 0px;
  background-position-y: -1452px; }

.icon-25 {
  background-position-x: 0px;
  background-position-y: -1512.5px; }

.icon-26 {
  background-position-x: 0px;
  background-position-y: -1573px; }

.icon-27 {
  background-position-x: 0px;
  background-position-y: -1633.5px; }

.icon-28 {
  background-position-x: 0px;
  background-position-y: -1694px; }

.icon-29 {
  background-position-x: 0px;
  background-position-y: -1754.5px; }

.icon-30 {
  background-position-x: 0px;
  background-position-y: -1815px; }

.icon-31 {
  background-position-x: 0px;
  background-position-y: -1875.5px; }

.icon-32 {
  background-position-x: 0px;
  background-position-y: -1936px; }

.icon-33 {
  background-position-x: 0px;
  background-position-y: -1996.5px; }

.icon-34 {
  background-position-x: 0px;
  background-position-y: -2057px; }
.star-pane {
  display: inline-block; }

.half-star {
  background: url("/img/star.gif") scroll no-repeat 0 0;
  display: block;
  height: 13px;
  width: 13px;
  float: left;
  text-indent: -999em;
  cursor: pointer;
  display: block; }

.star-1 {
  background-position-x: 0px;
  background-position-y: -13px; }

.star-2 {
  background-position-x: 0px;
  background-position-y: -26px; }

.star-3 {
  background-position-x: 0px;
  background-position-y: -39px; }

table.no-border {
  border: none; }

table.no-border th {
  border: none; }

table.no-border td {
  border: none; }

.input-group .form-control.no-radius-left-top {
  outline: 1px inset #E0CFCF;
  outline-offset: -1px;
  border-top-left-radius: 0; }

.sidebar {
  border-right: 1px solid #f0f2f1;
  width: 150px;
  float: left;
  padding: 15px; }

.sidebar > ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.sidebar > ul > li {
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 10px;
  margin: 10px 0 0px; }

.sidebar > ul > li > ul {
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  font-size: 14px; }

.sidebar a {
  line-height: 1.5; }

.sidebar a:hover {
  color: #e74430; }

@media (max-width: 1080px) {
  .sidebar {
    padding: 10px;
    width: 150px; } }

@media (max-width: 780px) {
  .sidebar {
    display: none; } }

article {
  padding: 5px 0px 30px;
  background-color: #F1F4F5; }

.red {
  color: red; }

.blue {
  color: #999; }

.courseTable th {
  background-color: #149dd2;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.25); }

.length-750px {
  width: 750px; }

.form-group .width-168px {
  width: 168px; }

.width-168px {
  width: 168px; }

.width-130px {
  width: 130px; }

.width-230px {
  width: 230px; }

.margin-left-10px {
  margin-left: 15px; }

.div-form-control {
  display: block;
  height: 24px;
  padding-top: 6px;
  font-size: 14px;
  /* line-height: 1.42857143; */ }

.table tbody > tr > td.vertical-align-middle {
  vertical-align: middle; }

a:hover {
  text-decoration: none; }

.bar {
  color: white;
  background-color: #149dd2;
  padding: 10px; }

.gray {
  color: gray; }

i.fa.fa-user.gray {
  color: gray; }

.button-large {
  padding: 9px 25px; }

body {
  font-size: 16px; }

div.nopadding {
  padding-left: 0px;
  padding-right: 0px; }

.photo {
  background: white;
  padding: 15px 15px 15px 15px;
  margin: 5px 5px 5px 5px;
  height: auto;
  border: #909090 1px solid;
  background: #fff;
  color: #333;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090, direction=120, strength=4);
  box-shadow: 2px 2px 10px #909090; }

.dm3-divider-dotted {
  clear: both;
  width: 100%;
  margin: 0 0 30px 0;
  border: 0;
  border-bottom: 1px solid #e0e0e0; }
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;

}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;

}
/*# sourceMappingURL=app.css.map */
